@import "tailwindcss";

body{
  background-color: aliceblue;
}

select option{
  background-color: aliceblue;
}

.book{
  width: 130px;
  min-height: 195px;
}

.bookshelf {
  background-image: url('./assets/brickwall.jpg');
  background-size: cover;
  padding-bottom: 20px;
}

.paginationContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  body {
    color: aliceblue;
    background-color: #213547;
  }
  select option{
    background-color: #213547;
  }
}